# Erlang version
erlang_version=25.1.2

# Elixir version
elixir_version=1.14.2

# A command to run right before fetching dependencies
hook_pre_fetch_dependencies="mix hex.organization auth oban --key ${OLD_OBAN_KEY}"


hook_pre_fetch_dependencies="mix hex.repo add oban https://getoban.pro/repo \
  --fetch-public-key SHA256:4/OSKi0NRF91QVVXlGAhb/BIMLnK8NHcx/EWs+aIWPc \
  --auth-key ${OBAN_KEY}"

hook_post_compile="mix assets.deploy && rm -f _build/esbuild"