/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Alerts and form errors used by phx.new */
.alert {
  border-radius: 4px;
  box-shadow: 5px black;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  margin-top: -18px;
}

.dropbtn {
  background: rgba(240, 247, 241, 1);
  border-radius: 24px;
}

.dropdown-content {
  display: none;
  background-color: #fff;
  width: 200px;
  border: 1px solid rgba(187, 187, 187, 0.8);
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper {
  @apply p-32 h-full;
  background: rgba(248, 250, 245, 1);
  padding: 30px 0;
  width: 100%;
}

.date-filter {
  padding: 0 150px;
}

.center_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-chart {
  @apply m-4 bg-white rounded-2xl border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  max-width: 542px;
  color: rgba(113, 121, 113, 1);
  font-size: 16px;
  width: 100%;
}

.pie-chart {
  @apply m-4 bg-white rounded-2xl border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  max-width: 542px;
  height: 264px;
  color: rgba(113, 121, 113, 1);
  font-size: 16px;
  padding-bottom: 20px;
  width: 100%;
}

.series-bar-chart {
  @apply m-4 p-4 w-full bg-white rounded-2xl border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  color: rgba(113, 121, 113, 1);
  font-size: 16px;
  max-width: 1124px;
}

.pie-chart svg {
  height: 100%;
  width: 100%;
}

.download-btn {
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.exc-tick {
  stroke: grey;
}

.exc-tick line {
  visibility: hidden;
}

.exc-tick text {
  fill: rgba(85, 85, 85, 1);
  stroke: none;
  font-size: 16px;
}

.exc-domain {
  stroke: rgb(207, 207, 207);
}

.exc-legend {
  stroke: black;
}

.exc-legend text {
  fill: rgba(119, 119, 119, 1);
  stroke: none;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Styling for broadcast table */
.table-container {
  @apply h-full w-full;
  padding: 40px 10px;
  min-width: 855px;
}

.table {
  @apply block text-sm text-gray-500 bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  table-layout: fixed;
}

table {
  width: 100%;
}

.table th,
.table td {
  @apply m-2;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  max-width: 280px;
  padding: 0 40px;
  width: 27.6%;
  height: 48px;
  text-align: left;
}

.table th {
  background: rgba(226, 241, 223, 1);
}

.table-hd {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}

/* Styling for metric cards */
.card-section {
  width: 100%;
  padding: 40px 150px;
  border: rgba(239, 239, 239, 1) solid 1px;
}

.card {
  @apply block my-6 mr-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  padding: 32px 24px;
  height: 140px;
  width: 220px;
}
