<div>
    <a href="#" class="card">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contacts</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">400</p>
    </a>
</div>