
<ul>
  <%= if @current_user do %>
    <li><%= @current_user.phone %></li>
    <li><%= link("Log out", to: Routes.user_session_path(@conn, :delete), method: :delete) %></li>
  <% else %>
    <li><%= link("Log in", to: Routes.user_session_path(@conn, :new)) %></li>
  <% end %>
</ul>
