name: Continuous Deployment

on:
  push:
    branches: [master, fix/cd-fail, v1.0]

jobs:
  deploy:
    # only run this job if the verify job succeeds

    # only run this job if the workflow is running on the feature/master branch
    # if: github.ref == 'refs/heads/master'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: master # Checkout out master instead of the latest commit
          fetch-depth: 0 # Checkout the whole branch

      # setup  python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # configure the gigalixir-actions with our credentials and app name
      - uses: mhanberg/gigalixir-action@v0.6.2
        with:
          GIGALIXIR_USERNAME: ${{ secrets.GIGALIXIR_USERNAME }}
          GIGALIXIR_PASSWORD: ${{ secrets.GIGALIXIR_PASSWORD }}
          GIGALIXIR_APP: ${{ secrets.GIGALIXIR_APPNAME }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          MIGRATIONS: false

      # Remove unattended-upgrades
      - name: remove unattended-upgrades
        run: sudo apt-get -y remove unattended-upgrades

      # Install ffmpeg for file conversion
      - name: install ffmpeg
        run: sudo apt-get -y install ffmpeg
