name: Continuous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13 # postgres image for test database.
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: glific_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix: # build matrix for the job
        elixir: [1.14.2]
        otp: [25.1.2]

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v3
        if: always()
        id: elixir-mix-cache #id to use in retrieve action
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-v2.3-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Install Mix Dependencies if not Cached
        if: steps.elixir-mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force

          mix hex.organization auth oban --key ${{ secrets.OBAN_OLD_KEY }}

          mix hex.repo add oban https://getoban.pro/repo \
            --fetch-public-key ${{ secrets.OBAN_PUBLIC_KEY }} \
            --auth-key ${{ secrets.OBAN_PRO_KEY }}

          mix deps.get

      - name: Retrieve PLT Cache
        uses: actions/cache@v3
        if: always()
        id: elixir-plt-cache #id to use in retrieve action
        with:
          path: priv/plts_v1
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-v2.3-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Create PLTs
        if: steps.elixir-plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts_v1
          mix dialyzer --plt

      - name: Run check
        run: mix check

      - name: Coveralls for code coverage
        run: mix do compile --warnings-as-errors, coveralls.json

      - name: Code coverage
        run: bash <(curl -s https://codecov.io/bash)
